<!DOCTYPE html>
<html>

<head>
  <title><%= title %></title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel="apple-touch-icon" sizes="180x180" href="/images/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon-16x16.png">
  <link rel="manifest" href="/images/site.webmanifest">
</head>

<body>
  <header>
    <div class="head">
    <h1>Dixon Ramos</h1>
    <p>游닎Email: Dixonramos282005@hotmail.com</p>
    <p>驕뀚잺Tel칠fono: +58 04243741634</p>
  </div>
  </header>

  <section>
    <div class="bio">
    <h2>Biograf칤a</h2>
    <h3>Estudiante de Ingenier칤a inform치tica Din치mico y Motivado</h3>
    <p>Soy un estudiante de Ingenier칤a en inform치tica altamente motivado y entusiasta, actualmente en mi cuarto
      semestre. Con una profunda pasi칩n por
      la tecnolog칤a y una dedicaci칩n inquebrantable a mi oficio, estoy persiguiendo mi carrera so침ada en el campo de la
      ingenier칤a en computaci칩n
      al mismo tiempo que aprendo por mi propia cuenta el oficio que me apasiona.</p>
    </div>
  </section>

  <section>
    <div class="exp">
    <h2>Experiencia Laboral</h2>
    <h3>Soluciones Tecnol칩gicas C.A</h3>
    <p>2021 - 2023</p>
    <ul>
      <h3>Tareas realizadas:</h3>
      <li>Configuraci칩n y armado de antenas Ubiquiti</li>
      <li>Monitoreo de redes locales y externas</li>
      <li>Manipulaci칩n de servidores y control de clientes</li>
      <li> Mantenimiento y reparaci칩n de computadores y equipos de computo</li>
    </ul>
  </div>
  </section>

  <section>
    <div class="edu">
    <h2>Educaci칩n</h2>
    <h3>Titulo de escuela primaria| E.B.N Melicia nieves de Tejada</h3>
    <p>6 a침os Villa de cura - Aragua</p>
    <h3>T칤tulo de Bachiller de la Rep칰blica | U.E.N Melicia nieves de Tejada</h3>
    <p>5 a침os Villa de cura - Aragua</p>
    <h3>Cursando Actualmente - ING inform치tica |UNERG Universidad Nacional Experimental R칩mulo Gallegos</h3>
    <p>2 A침os San Juan de los Morros - Gu치rico</p>
  </div>
  </section>

  <section>
    <div class="skills">
    <h2>Habilidades</h2>
    <ul>
      <li>
        <%= skill1 %>
      </li>
      <li>
        <%= skill2 %>
      </li>
      <li>
        <%= skill3 %>
      </li>
      <li>
        <%= skill4 %>
      </li>
      <li>
        <%= skill6 %>
      </li>
    </ul>
  </div>
  </section>
  <section>
    <div class="idi">
    <h2>Idiomas</h2>
    <ul>
      <li>Espa침ol: Nativo</li>
      <li>Ingl칠s: Intermedio</li>
    </ul>
  </div>
  <section class="sec">
    
    </div>
    <div class="text">
      <h1 class="info">쯈uieres saber m치s?</h1>
      <p class="p_info">Si quieres saber m치s sobre mi, puedes contactarme a trav칠s de mis redes sociales o a trav칠s de este formulario.</p>
    </div>
    <div class="form">
      <h1>Formulario de contacto</h1>
    <form id="contacto-form" action="/form-contacto" method="POST" >
      <label for="name">Nombre:</label>
      <input type="text" name="name" placeholder="Jhon Doe" required id="name">
      <label for="email">Correo Electr칩nico:</label>
      <input type="email" name="email"  placeholder = "ejemplo@gmail.com" required id="email">
      <label for="comment">Comentario:</label>
      <textarea name="mensaje"  placeholder="Escribe un mensaje..." id="mensaje" required></textarea>
      <button type="submit" id="submit-btn">Enviar</button>
    </form>
  </section>
  </section>
    <footer>
      <div class="redes">
      <ul>
        <img src="/images/github.png" alt="Github" >
        <li> <a href="https://github.com/Dixon282005" target="_blank">GitHub</a></li>
        <img src="/images/linkedin.png" alt="linkedin">
        <li><a href="https://www.linkedin.com/in/dixon-ramos-74746b214/" target="_blank">Linkedin</a></li>
      </ul>
    </div>
  </footer>
</body>

</html>