<!DOCTYPE html>
<html>

<head>
  <title>Mi CV | Dixon Ramos</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel="apple-touch-icon" sizes="180x180" href="/images/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon-16x16.png">
  <link rel="manifest" href="/images/site.webmanifest">
</head>

<body>
  <header>
    <div class="head">
    <h1>Dixon Ramos</h1>
    <p>Email: Dixonramos282005@hotmail.com</p>
    <p>Teléfono: +58 04243741634</p>
  </div>
  </header>

  <section>
    <div class="bio">
    <h2>Biografía</h2>
    <h3>Estudiante de Ingeniería informática Dinámico y Motivado</h3>
    <p>Soy un estudiante de Ingeniería en informática altamente motivado y entusiasta, actualmente en mi cuarto
      semestre. Con una profunda pasión por
      la tecnología y una dedicación inquebrantable a mi oficio, estoy persiguiendo mi carrera soñada en el campo de la
      ingeniería en computación
      al mismo tiempo que aprendo por mi propia cuenta el oficio que me apasiona.</p>
    </div>
  </section>

  <section>
    <div class="exp">
    <h2>Experiencia Laboral</h2>
    <h3>Soluciones Tecnológicas C.A</h3>
    <p>2021 - 2023</p>
    <ul>
      <h3>Tareas realizadas:</h3>
      <li>Configuración y armado de antenas Ubiquiti</li>
      <li>Monitoreo de redes locales y externas</li>
      <li>Manipulación de servidores y control de clientes</li>
      <li> Mantenimiento y reparación de computadores y equipos de computo</li>
    </ul>
  </div>
  </section>

  <section>
    <div class="edu">
    <h2>Educación</h2>
    <h3>Titulo de escuela primaria| E.B.N Melicia nieves de Tejada</h3>
    <p>6 años Villa de cura - Aragua</p>
    <h3>Título de Bachiller de la República | U.E.N Melicia nieves de Tejada</h3>
    <p>5 años Villa de cura - Aragua</p>
    <h3>Cursando Actualmente - ING informática |UNERG Universidad Nacional Experimental Rómulo Gallegos</h3>
    <p>2 Años San Juan de los Morros - Guárico</p>
  </div>
  </section>

  <section>
    <div class="skills">
    <h2>Habilidades</h2>
    <ul>
      <li>
        <%= skill1 %>
      </li>
      <li>
        <%= skill2 %>
      </li>
      <li>
        <%= skill3 %>
      </li>
      <li>
        <%= skill4 %>
      </li>
      <li>
        <%= skill6 %>
      </li>
    </ul>
  </div>
  </section>
  <section>
    <h2>Idiomas</h2>
    <ul>
      <li>Español: Nativo</li>
      <li>Inglés: B1</li>
    </ul>
  </section>
    <footer>
      <div class="redes">
      <ul>
        <img src="/images/github.png" alt="Github" >
        <li> <a href="https://github.com/Dixon282005" target="_blank">GitHub</a></li>
        <img src="/images/linkedin.png" alt="linkedin">
        <li><a href="https://www.linkedin.com/in/dixon-ramos-74746b214/" target="_blank">Linkedin</a></li>
      </ul>
    </div>
  </footer>
</body>

</html>